<div *ngIf="(article$ | async).article as article" class="card text-white bg-secondary">
  <div class="card-header">{{article.title}}
    <span class="pull-right">
      <fa class="mr-2" name="edit" (click)="edit()" [hidden]="(authService.isActive$ | async) <= 0"></fa>
      <fa name="trash" (click)="remove()" [hidden]="(authService.isActive$ | async) <= 0"></fa>
    </span>
  </div>
  <div class="card-body">
    <h5 *ngIf="article.header" class="card-title">{{article.header}}</h5>
    <pre><code>{{article.content}}</code></pre>
  </div>
  <div *ngIf="article.footer" class="card-footer">{{article.footer}}</div>
</div>

