<form [formGroup]="authForm" novalidate>
  <div *ngIf="!(authService.auth$ | async) || (authService.isActive$ | async) <= 0" class="form-inline my-lg-0">
      <input class="form-control mr-sm-1" placeholder="Email" aria-label="Email" formControlName="email">
      <input type="password" class="form-control mr-sm-1" placeholder="Password" aria-label="Password" formControlName="password">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" [disabled]="!authForm.valid" (click)="onSubmit()">Login</button>    
  </div>
  <div class="form-inline my-lg-0" *ngIf="(authService.auth$ | async)">
    <button class="btn btn-outline-light my-sm-0" type="submit" (click)="onLogout()">Clear</button>
  </div>
</form>

<toaster-container></toaster-container>