@media (max-width: 767.98px) {
  ::ng-deep #content {
    height: 300px;
  } 
}

@media (min-width: 768px) { 
  ::ng-deep #content {
    height: calc(100vh - 530px);
  }
}

:host >>> input.ng-invalid.ng-touched, :host >>> select.ng-invalid.ng-touched, :host >>> textarea.ng-invalid.ng-touched {
  border-left: 5px solid #a94442;
  padding-left: 7px;
}