<nav class="navbar navbar-expand-lg navbar-dark bg-secondary text-white">
  <a class="navbar-brand">Note
    <sub *ngIf="(authService.auth$ | async)" class="badge badge-secondary small">
      {{authService.isActive$ | async | number: '0.0-0'}}
    </sub>
  </a>
  <button class="navbar-toggler" type="button" (click)="collapse = !collapse"
    data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'collapse': collapse}">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="(authService.auth$ | async)">
        <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" formControlName="search">
        </form>
      </li>
    </ul>
    <div *ngIf="(authService.auth$ | async)">
      <button class="btn btn-outline-light mr-2" (click)="add()" [hidden]="(authService.isActive$ | async) <= 0">
        Add <span class="fa fa-plus"></span>
      </button>
    </div>
    <app-page></app-page>
  </div>
</nav>
<div class="progress" style="height: 5px;">
  <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"
    [ngClass]="{'progress-bar-striped progress-bar-animated': apiService.loading$ | async}"></div>
</div>

<div class="container-fluid bg-light text-dark">
    <div class="row">
      <div class="col-xl-2 col-lg-4 col-md-4 pt-2 pb-2 treeScroll">
        <app-tree></app-tree>
      </div>
      <div class="col-xl-10 col-lg-8 col-md-8 pt-2 pb-2 treeScroll">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
